version: "3.9"

services:
  devenv:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/holx/devenv:cached
    command: sleep infinity
    ports:
      - "3000:3000"
